# Server
PORT=8000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/kadr

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1d

# Telegram Bot
TELEGRAM_BOT_TOKEN=8520735363:AAGnWnfw75DsYhysRywsqFjLQ_TqNINYRHI
TELEGRAM_WEBHOOK_URL=

# Upload
UPLOAD_DIR=./uploads

# Default admin (seed)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
